<header class="container-fluid" id="header-bar">

  <div id="header-icon" class="col-md-8">
    <%= link_to image_tag("logo.svg"), "/index.html" %>
    <h1 style="display: none;">Back the Bend</h1>
  </div>

  <div id="header-links" class="col-md-4 container-fluid">
    <div class="col-xs-3 col-sm-4 col-md-4 header-link-item header-link-item-signup <%= "header-link-item-active" if active_page == "signup" %>">
      <%= link_to "Sign Up", "/index.html" %>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-3 header-link-item header-link-item-about <%= "header-link-item-active" if active_page == "about" %>">
      <%= link_to "About", "/about.html" %>
    </div>
    <div class="col-xs-5 col-sm-4 col-md-5 header-link-item header-link-item-homeward <%= "header-link-item-active" if active_page == "homeward" %>">
      <%= link_to "Homeward Bound", "/homeward.html" %>
    </div>
  </div>

</header>
